<h1>一起下厨房</h1>
<p>享受自己烹饪所带来的乐趣，也是享受生活的其中一部分.我们的确很怕麻烦，怕买菜，怕洗菜，怕洗碗，工作了一天回到家还要自己折腾等等。。。</p>

<p>但如果换一个角度来想，周末，空余的时间，亲自去买自己喜欢的食材，动手做一顿晚餐，或做一个点心，甜品什么的，成就感会是怎样的呢？</p>
<p>正如我们一位男生会员说到：自己买回来的土豆，洗干净，削皮，切成丝，炒出来，盛盘得整个过程，都其实可以让自己更放松，就是一个休息的过程。</p>

<p>所以，偶尔自己动手烹饪，会比较有成就感，而且你会选择自己爱吃的食材，控制用油量，选择适合自己口味的调味品，棒点也会管理的不错，何乐而不为呢？</p>
